<div class="frame">
    <label for="password">Check your password strength</label>
    <input type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="password" (input)="checkPasswordStrength()"
        id="password" placeholder="Enter your password" class="input" required maxlength="20">
    <fa-icon [icon]="showPassword ? faEyeSlash : faEye" (click)="togglePasswordVisibility()"
        class="toggleIcon"></fa-icon>
    <div class="strength-section">
        <div class="strength-color" [style.background-color]="sectionColors[0]"></div>
        <div class="strength-color" [style.background-color]="sectionColors[1]"></div>
        <div class="strength-color" [style.background-color]="sectionColors[2]"></div>
    </div>
</div>